// Example Stylus file
// All changes are detected and automatically compiled into CSS

@import 'helpers'
@import 'chat'
@import 'landing'

// Main

#header
	position relative
	background red
	height 80px

#links-wrapper
	width 600px
	background green
	margin 0 auto
	margin-top 120px

#nav-wrapper
	position absolute
	right 0px
	top 0px

#nav li
	float left
	
#main-wrapper
	width 960px
	margin 0 auto
	
