html, body
	height 100%
	overflow hidden
	color #fff
	
#chat-wrapper
	display none
	background-color #eeeeee

#imgLogo
	width 240px
	margin-left 20px
	padding 20px 0px

#chat
	overflow hidden

#subscriberBox
	position absolute

#leftSide
	position absolute
	overflow hidden
	height 100%
	width 280px
	left 0px
	border-right solid 2px #cccccc
	
#publisherContainer
	height 230px
	
#publisherContainer object
	margin-left 25px
	margin-top 35px
		
#shareBox
	border-top solid 1px #cccccc
	
a#joinCTA	
	display none
	cursor pointer
	color #0000ff
	font-weight bold

#displayUrlBox
	overflow hidden
	margin-top 8px
	
#displayCurrUrl
	float left
	border solid 1px #eeeeee
	height 30px
	line-height 30px
	width 180px
	border solid 1px #bbb
	border-right 0px

#displayCurrUrlBtn
	float left
	width 50px
	background-color #ff0000
	height 32px
	border solid 1px #bbb
	
#shareBox
	padding 20px

#shareBtnBox
	margin-top 10px
	

#shareBtnBox > div
	float left
	