html, body
	height 100%
	overflow hidden
	
#chat-wrapper
	display none
	background-color #eeeeee

#chat
	overflow hidden

#subscriberBox
	position absolute
	background-color #ffeeee

#publisherContainer
	position absolute
	width 300px
	background-color #eeffee
	
#publisherContainer object
	margin-left 50px