html, body
	height 100%
	overflow hidden
	
#chat-wrapper
	display none
	background-color #eeeeee

#chat
	overflow hidden

#subscriberBox
	position absolute

#leftSide
	position absolute
	overflow hidden
	height 100%
	width 300px
	border-right solid 2px #cccccc
	
#publisherContainer
	margin-top 35px
	height 235px
	
#publisherContainer object
	margin-left 50px
	margin-top 35px
	
#shareBox
	border-top solid 1px #cccccc
	
a#joinCTA	
	display none
	cursor pointer
	color #0000ff
	font-weight bold


#displayCurrUrl
	border solid 1px #eeeeee
	padding 10px
	margin-top 8px

#shareBox
	padding 30px

#shareBtnBox
	margin-top 10px
	

#shareBtnBox > div
	float left
	