!!! 5
html(lang="en")
  head
    != SocketStream
    title QuickTok
    link(href='http://fonts.googleapis.com/css?family=Lato:100,100italic,light,lightitalic,regular,regularitalic,bold,bolditalic,900,900italic&v1', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo&v1', rel='stylesheets', type='text/css')
    script(src="http://staging.tokbox.com/v0.91/js/TB.min.js")
    script(src="/assets/jquery.zclip.min.js")
    link(href="/assets/reveal.css")
    script(src="/assets/jquery.reveal.js")
  body
    #help-wrapper.section-wrapper
      #help Press the button, silly.
        #arrow
    #header-wrapper.section-wrapper
      #header
        #brand-wrapper
          #brand
            div#logo
        #nav-wrapper
          ul#nav
            li#videochat-link.selected Video Chat
            li#api-link API
            li#help-link Help
    #landing-wrapper
      #landing
        #tiles
          #links-wrapper
            #links
              #share-link-wrapper
                #share-link
                  p Your video chat URL
                  #input-box
                    #link-input-wrapper
                      #link-input
                    a#copy-join-button Copy & Join
                    span free
              #just-copy-wrapper
                #just-copy or 
                  a#just-copy-button just copy
                  | , I'll start it later
        #description-wrapper.section-wrapper
          #description
            p#tagline QuickTok is a free, instant, sharable, video chat service.
            ul#features
              li 
                span No download
              li 
                span No signup
              li 
                span Silly simple
              li 
                span It's completely free!
        #footer-wrapper.section-wrapper
          #footer
            img(src='/images/tb-logo.png')
            p brought to you by
    #chat-wrapper.section-wrapper
      #chat
        #leftSide
          #imgContainer
            img#imgLogo(src="/images/qt-logo.png")
          #publisherContainer
            a#joinCTA(href='#') Join the conversation!
          #shareBox
            #shareBoxTitle Invite your friends
              #displayUrlBox
                #displayCurrUrl
                button#displayCurrUrlBtn copy
              #shareBtnBox
                #shareFbBtn
                #shareTwBtn
          #emptyBottomLeftGarbage
        #subscriberBox
    #api-wrapper.section-wrapper
      div
        p This functions creates a unique hash that can be used to reserve a new chatroom.
        p You can call this function to generate a short unique url and hash that can be used to reserve a quicktok video conversation.
        p Calling this function will only generate the unique hash and the url where you can find this chat. However it will not reserve the video conference yet.
        p Example usage:
        p curl http://qtok.me/api/quicktok/new
        p Response:
        p
          | {
          |    "url": "http://qtok.me/ETH9d",
          |    "hash":"ETH9d",
          |    "status": "OK"
          |  }
        
