!!! 5
html(lang="en")
  head
    != SocketStream
    title QuickTok
  script(src="http://staging.tokbox.com/v0.91/js/TB.min.js")
  script(src="/assets/jquery.zclip.min.js")
  body
    #header-wrapper
      #header
        #brand-wrapper
          #brand
            h1#logo QuickTok
            h2#tagline We are awesome.
        #nav-wrapper
          ul#nav
            li Home
            li API
            li Help
    #landing-wrapper
      #main
        #links-wrapper
          #links
            #share-link-wrapper
              #share-link
                input#link-input(type='text')
                button#copy-join-button(name='copy-join-button') Copy & Join
            #copy-link-wrapper
              #copy-link
                button#copy-button Copy
    #chat-wrapper
      #chat
        #leftSide
          #publisherContainer
            a#joinCTA(href='#') Join the conversation!
          #shareBox
            #shareBoxTitle Invite your friends
              #displayCurrUrl
              #shareBtnBox
                #shareFbBtn FB
                #shareTwBtn TW
        #subscriberBox
        
